node_modules/
.expo/
dist/
web-build/

# Native generated folders (built dynamically in CI via expo prebuild)
# ios/
# android/

# Logs & temp
*.log
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Desktop Electron artifacts
desktop/node_modules/
desktop/dist/
